*.iml
.gradle
/local.properties
local.properties
.DS_Store
/build
app/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
.env
.env.*
.idea/
traidores-*.png
window.xml
lobby.xml
tmp/
node_modules/
firebase-debug.log
firestore-debug.log
database-debug.log
